html, .container, .row {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#menu {
    height: 100%;
    background-color: #36648B;
}

#content {
    height: 100%;
}

.full_height {
    height: 100%;
}
