extends layout/secure.jade

block content
  div.container
    form.form-signin(action="secure", method="post")
      h2.form-signin-heading Please sign in
      label.sr-only(for="username") Email address
      input.form-control#username(type="text", name="username", placeholder="User", required, autofocus)
      label.sr-only(for="password") Password
      input.form-control#password(type="password", name="password", placeholder="Password", required)
      div.checkbox
        label
          input(type="checkbox", value="remember-me")
          | Remember me
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
