extends layout/secure.jade

block css
  link(rel="stylesheet", href="css/signin.css")

block content
  div.container
    .form-signin
      h2.form-signin-heading Please sign in
      .alert.alert-warning#warningalert(role="alert").hide
        button.close.timesclose(type="button", aria-label="Close")
          span(aria-hidden="true") &times;
        strong Warning!
        #warningmessage
      .alert.alert-danger#dangeralert(role="alert").hide
        button.close.timesclose(type="button", aria-label="Close")
          span(aria-hidden="true") &times;
        strong Oh no!
        #dangermessage
      label.sr-only(for="username") Email address
      input.form-control#username(type="text", name="username", placeholder="User", required, autofocus)
      label.sr-only(for="password") Password
      input.form-control#password(type="password", name="password", placeholder="Password", required)
      div.checkbox
        label
          input(type="checkbox", value="remember-me")
          | Remember me
      a.btn.btn-lg.btn-primary.btn-block#signin Sign in

block script
  script(src="js/login.js")